<h1>Quiz</h1>

<p>This is a complex todo list component.</p>

<p *ngIf="!quizzes"><em>Loading...</em></p>

<div *ngIf="quizzes">

  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <h2 class="float-start">Lists</h2>
        <button (click)="showNewQuizModal(newQuizModalTemplate)" class="btn btn-default float-end"
                title="New List...">
          <i class="bi bi-journal-plus"></i>
        </button>
      </div>
      <ul class="list-group">
        <li (click)="selectQuiz(quiz)" *ngFor="let quiz of quizzes; index as i"
            [ngClass]="{ 'active': selectedQuiz == quiz }" class="list-group-item">
          <div class="clearfix">
            <div class="float-start">
              {{ quiz.value }} X
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="selectedQuiz" class="col-sm-8">
      <div class="clearfix">
        <h2 class="float-start">{{ selectedQuiz.title }}</h2>
        <button (click)="addNewQuestion()" class="btn btn-default float-end" id="listQuizzes"
                title="Add">
          <i class="bi bi-plus-circle-dotted"></i>
        </button>
        <button (click)="saveQuiz()" class="btn btn-default float-end" id="saveQuiz"
                title="Add">
          <i class="bi bi-save2"></i>
        </button>
      </div>
      <div>
        <ng-container class="container">
          <accordion [closeOthers]="oneAtATime" [isAnimated]="true">
            <accordion-group *ngFor="let question of selectedQuiz.questions; index as i">
                <div class="clearfix" accordion-heading (click)="selectQuestion(question)">

                  <div class="float-start" *ngIf="!question.isEditable">
                    {{ question.text }}
                  </div>

                  <div class="float-start wi w-75" *ngIf="question.isEditable">
                    <input (keyup)="onQuestionKeyUp($event)" type="text" class="form-control" placeholder="new question" id="question.Id" [(ngModel)]="question.text"/>
                  </div>
                  <div class="float-end">
                    <button (click)="deleteQuestion()" class="btn btn-danger" title="Delete Question">
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>
                </div>
              <div class="clearfix" accordion-body>

                <div class="form-group" *ngFor="let answer of question.answers; index as i">
                  <div class="d-flex align-items-center m-2">
                  <input type="checkbox" [(ngModel)]="answer.isCorrect" id="answer.id" [checked]="answer.isCorrect"
                         style="margin-right: 10px;"/>
                  <input (keyup)="onAnswerKeyUp($event)"  type="text" class="form-control" id="answer" [(ngModel)]="answer.text"/>
                </div>
                </div>
              </div>

            </accordion-group>
          </accordion>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div *ngIf="debug">
  <pre>{{ quizzes | json }}</pre>
</div>

<ng-template #newQuizModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New List</h4>
    <button (click)="newQuizCancelled()" aria-label="Close" class="close btn-close pull-right" type="button">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="title">Title</label>
      <input (keyup.enter)="addList()" [(ngModel)]="newQuizEditor.title"
             [ngClass]="{ 'is-invalid': newQuizEditor.error }" class="form-control" id="title"
             maxlength="200" placeholder="List title..." type="text"/>
      <div *ngIf="newQuizEditor.error" class="invalid-feedback">
        {{ newQuizEditor.error }}
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ newQuizEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer clearfix">
    <div class="float-end">
      <button (click)="newQuizCancelled()" class="btn btn-default">Cancel</button>
      <button (click)="addList()" class="btn btn-primary">Create</button>
    </div>
  </div>
</ng-template>
