<h1>Todo</h1>

<p>This is a complex todo list component.</p>

<p *ngIf="!lists"><em>Loading...</em></p>

<div *ngIf="lists">

  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <h2 class="float-start">Lists</h2>
        <button (click)="showNewListModal(newListModalTemplate)" class="btn btn-default float-end"
                title="New List...">
          <i class="bi bi-journal-plus"></i>
        </button>
      </div>
      <ul class="list-group">
        <li (click)="selectedList = list" *ngFor="let list of lists; index as i"
            [ngClass]="{ 'active': selectedList == list }" class="list-group-item">
          <div class="clearfix">
            <div class="float-start">
              {{ list.title }}
            </div>
            <div class="float-end text-right">
              <span class="badge badge-light">{{ remainingItems(list) }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="selectedList" class="col-sm-8">
      <div class="clearfix">
        <h2 class="float-start">{{ selectedList.title }}</h2>
        <button (click)="showListOptionsModal(listOptionsModalTemplate)" class="btn btn-default float-end" id="listOptions"
                title="List Options...">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
      </div>
      <ul class="list-group mb-2" id="todo-items">
        <li *ngFor="let item of selectedList.items; index as i" class="list-group-item">
          <div class="d-flex">
            <div class="todo-item-checkbox">
              <input (change)="updateItem(item)" [(ngModel)]="item.done" type="checkbox"/>
            </div>
            <div class="flex-fill">
              <input (blur)="updateItem(item)" (keyup.enter)="updateItem(item, true)" *ngIf="item == selectedItem"
                     [(ngModel)]="item.title" autofocus="autofocus"
                     class="form-control item-input-control"
                     id="{{ 'itemTitle' + i }}" maxlength="200" type="text"/>
              <div (click)="editItem(item, 'itemTitle' + i)" *ngIf="item != selectedItem" [ngClass]="{ 'done-todo': item.done }"
                   class="todo-item-title" class="form-control item-input-control">
                <span>{{ item.title }}</span>
              </div>
            </div>
            <div class="todo-item-commands">
              <button (click)="showItemDetailsModal(itemDetailsModalTemplate, item)" *ngIf="item.id != 0"
                      class="btn btn-default btn-xs" role="button">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
            </div>
          </div>
        </li>
        <li (click)="addItem()" class="list-group-item">
          <button class="btn btn-default">Add Item...</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="debug">
  <pre>{{ lists | json }}</pre>
</div>

<ng-template #listOptionsModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">List Options</h4>
    <button (click)="listOptionsModalRef.hide()" aria-label="Close" class="close btn-close pull-right" type="button">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="inputListTitle">Title</label>
      <input (keyup.enter)="updateListOptions()" [(ngModel)]="listOptionsEditor.title" class="form-control" id="inputListTitle"
             maxlength="200" placeholder="List name..." type="text"/>
    </div>
    <div *ngIf="debug">
      <pre>{{ listOptionsEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-start">
        <button (click)="confirmDeleteList(deleteListModalTemplate)" class="btn btn-default text-danger">Delete</button>
      </div>
      <div class="float-end">
        <button (click)="listOptionsModalRef.hide()" class="btn btn-default">Cancel</button>
        <button (click)="updateListOptions()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #itemDetailsModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Item Details</h4>
    <button (click)="itemDetailsModalRef.hide()" aria-label="Close" class="close btn-close pull-right" type="button">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form">
      <div class="form-group">
        <label for="list">List</label>
        <select [(ngModel)]="itemDetailsEditor.listId" class="form-control">
          <option *ngFor="let list of lists" [ngValue]="list.id">{{ list.title }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="priority">Priority</label>
        <select [(ngModel)]="itemDetailsEditor.priority" class="form-control">
          <option *ngFor="let level of priorityLevels" [ngValue]="level.id">{{ level.title }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="note">Note</label>
        <textarea [(ngModel)]="itemDetailsEditor.note" class="form-control" id="note" rows="3"></textarea>
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ itemDetailsEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-start">
        <button (click)="deleteItem(selectedItem)" class="btn btn-default text-danger">Delete</button>
      </div>
      <div class="float-end">
        <button (click)="itemDetailsModalRef.hide()" class="btn btn-default">Cancel</button>
        <button (click)="updateItemDetails()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteListModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete "{{ selectedList?.title }}"?</h4>
    <button (click)="deleteListModalRef.hide()" aria-label="Close" class="close btn-close pull-right" type="button">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>All items will be permanently deleted. </p>
    <div *ngIf="debug">
      <pre>{{ selectedList | json }}</pre>
    </div>
  </div>
  <div class="modal-footer clearfix">
    <div class="float-end">
      <button (click)="deleteListModalRef.hide()" class="btn btn-default" type="button">Cancel</button>
      <button (click)="deleteListConfirmed()" class="btn btn-danger" type="button">Delete</button>
    </div>
  </div>
</ng-template>

<ng-template #newListModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New List</h4>
    <button (click)="newListCancelled()" aria-label="Close" class="close btn-close pull-right" type="button">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="title">Title</label>
      <input (keyup.enter)="addList()" [(ngModel)]="newListEditor.title" [ngClass]="{ 'is-invalid': newListEditor.error }" class="form-control" id="title"
             maxlength="200" placeholder="List title..." type="text"/>
      <div *ngIf="newListEditor.error" class="invalid-feedback">
        {{ newListEditor.error }}
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ newListEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer clearfix">
    <div class="float-end">
      <button (click)="newListCancelled()" class="btn btn-default">Cancel</button>
      <button (click)="addList()" class="btn btn-primary">Create</button>
    </div>
  </div>
</ng-template>
