<header>



  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a [routerLink]="['/']" class="navbar-brand">TheCrowd.Web</a>
      <button
        (click)="toggle()"
        [attr.aria-expanded]="isExpanded"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        data-target=".navbar-collapse"
        data-toggle="collapse"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngClass]="{ show: isExpanded }"
           class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
        <ul class="navbar-nav flex-grow">
          <li [routerLinkActiveOptions]="{ exact: true }"
              [routerLinkActive]="['link-active']"
              class="nav-item">
            <a [routerLink]="['/']" class="nav-link text-dark">Home</a>
          </li>
          <li [routerLinkActive]="['link-active']" class="nav-item">
            <a [routerLink]="['/counter']" class="nav-link text-dark">Counter</a>
          </li>
          <li [routerLinkActive]="['link-active']" class="nav-item">
            <a [routerLink]="['/fetch-data']" class="nav-link text-dark">Fetch data</a>
          </li>
          <li [routerLinkActive]="['link-active']" class="nav-item">
            <a [routerLink]="['/todo']" class="nav-link text-dark">Todo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/api" target="_blank">API</a>
          </li>
          <li *ngIf="status$ | async as s ;else notLoggedIn" [routerLinkActive]="['link-active']" class="nav-item">
            <a [routerLink]="['/user/dashboard']" class="nav-link text-dark">{{ s }}</a>
          </li>
          <li *ngIf="status$ | async as s " [routerLinkActive]="['link-active']" class="nav-item">
            <a (click)="logout()" class="nav-link text-dark">Logout</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>
  <ng-template #notLoggedIn>
    <li [routerLinkActive]="['link-active']" class="nav-item">
      <a [routerLink]="['/authentication/login']" class="nav-link text-dark">XLogin</a>
    </li>
    <li [routerLinkActive]="['link-active']" class="nav-item">
      <a [routerLink]="['/authentication/register']" class="nav-link text-dark">XRegister</a>
    </li>
  </ng-template>
</header>
